/* remember variables is always the 1st stylesheet you import
   order of the imports matter
*/
/* 
  All variable names start with a dollar sign
*/
.general-button, .form__submit {
  border-radius: 0px;
  width: 100%;
}

/* 
  1.Variable usage
*/
/* 
  2. Using maps
*/
/* 
  3. Mixins
*/
/* 
  4. Inheritance
*/
/* 
  4. Nesting + BEM
*/
.form {
  padding: 20px;
  /* 1st way of doing it bad way of doing it */
  /* 2nd way of doing correctly BEM */
}

.form__label {
  font-size: 20px;
}

.form__input {
  width: 100%;
}

.form__textArea {
  width: 100%;
  height: 300px;
}

.form__submit {
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  border: none;
}

header {
  width: 100%;
}

.nav-link {
  color: white;
}

.navbar {
  background-color: transparent !important;
  font-family: "Montserrat", sans-serif;
}

.logo-div {
  width: 10%;
  margin-right: 20%;
}

.logo {
  width: 100%;
}

.navbar-nav {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.btn-primary {
  background-color: transparent;
  border: none;
}

.btn-secondary {
  background-color: transparent;
  border-radius: 20px;
}

.first-quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.world-text {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  margin-bottom: 30px;
  font-size: 70px;
  font-weight: bold;
}

.red {
  color: red;
}

.back-img {
  background-image: url(../../img/background-img.png);
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.nextline {
  display: block;
}

.btn-danger {
  width: 180px;
  height: 55px;
  border-radius: 30px;
  background-color: rgba(255, 92, 99, 0.16);
  color: red;
  margin-top: 30px;
  text-transform: uppercase;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 150px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hero-icons {
  color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fa-google,
.fa-twitter,
.fa-facebook-f {
  margin-top: 60px;
  font-size: 1rem;
}

.vid-small-text {
  font-family: "Montserrat", sans-serif;
}

.vid-big-text {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 40px;
  width: 40%;
  margin-bottom: 50px;
}

.board1,
.board2,
.board3,
.board4 {
  height: 400px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 1rem;
}

.board1 {
  background-image: url(../../img/board1.png);
}

.board2 {
  background-image: url(../../img/board2.png);
}

.board3 {
  background-image: url(../../img/board3.png);
}

.board4 {
  background-image: url(../../img/board4.png);
}

.board1-maintext,
.board1-subtext {
  color: white;
}

.textholder1 {
  border: 2px solid hotpink;
  height: 400px;
  width: 50%;
}
/*# sourceMappingURL=style.css.map */