.alarm-page {
  background-image: url(../../img/alarm-background.png);
  background-size: cover;
  width: 100vw;
  height: 1200px;
  margin-top: 100px;
}

.alarm_topdiv {
  width: 100%;
}

.alarm_toptext {
  width: 100%;
  text-align: center;
}

.alarm_maintext {
  width: 100%;
  text-align: center;
  font-size: 3rem;
}

.alarm_box {
  height: 300px;
  width: 500px;
  border-radius: 40px;
  background-color: white;
  margin: auto;
  margin-top: 200px;
}

.smartsensor {
  font-size: 2rem;
  padding: 30px 0px 0px 50px;
}

.sensortext {
  padding: 0px 0px 50px 50px;
}
