.first-quote {
  height: 80vh;
  display: flex;
  align-items: center;
}

.middle-quote {
  width: 50%;
  color: white;
  display: block;
  align-items: center;
  margin-left: 8%;
}

.world-text {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  margin-bottom: 30px;
  font-size: 81px;
  font-weight: bold;
}

.red {
  color: red;
}

.back-img {
  background-image: url(/img/header-background.png);
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.nextline {
  display: block;
}

.btn-danger {
  border-radius: 30px;
  background-color: rgba(255, 92, 99, 0.16);
  color: hsl(0, 100%, 50%);
  margin-top: 30px;
}
