.redhouse-bcg {
  background-image: url(../../img/redhouse-bcg.png);
  width: 100vw;
  height: 100vh;
}

.red_small_text,
.red_main_text,
.red_long_text {
  margin-top: 20px;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.red_main_text {
  font-size: 3rem;
}

.redpic {
  margin: 10px 20px 20px 10px;
}

.red_bottom {
  width: 50%;
}
