.vid-small-text {
  font-family: "Montserrat", sans-serif;
}

.vid-big-text {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 40px;
  width: 40%;
  margin-bottom: 50px;
}

.board1,
.board2,
.board3,
.board4 {
  height: 400px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.playbutton {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board1 {
  background-image: url(../../img/board1.png);
}

.board2 {
  background-image: url(../../img/board2.png);
}

.board3 {
  background-image: url(../../img/board3.png);
}

.board4 {
  background-image: url(../../img/board4.png);
}

.vid-maintext,
.vid-subtext {
  color: white;
}

.textholder {
  margin: 50px 0px 40px 40px;
  width: 100%;
}
